{% extends 'layout.html' %}

{% block title %}
Bedroom
{% endblock %}

{% block main %}
<h1><a href="/room/bedroom" class="place">Bedroom</a></h1>
{# TODO Set up hx-target / hx-get on this div so that the state can be updated when necessary #}
{# OR MAYBE the whole <body> gets updated every time #}
<div id="room-description">
   <p>You are in your bedroom, standing at the foot of your <a href="{{ url_for('object', object_slug='bed', state=encoded_state) }}"
   hx-get="{{ url_for('object', object_slug='bed', state=encoded_state) }}"
   hx-target="#inspect" class="object">bed</a>.</p>
   
   <p>Beside the bed is a <a href="{{ url_for('object', object_slug='bed_side_table', state=encoded_state) }}"
   hx-get="{{ url_for('object', object_slug='bed_side_table', state=encoded_state) }}"
   hx-target="#inspect" class="object">bed-side table</a>. On the bed-side table there is:
      <a href="/objects/tarot-cards" class="object">a deck of tarot cards</a>,
      <a href="/objects/lamp" class="object">a lamp</a>,
      <a href="/objects/mouth-guard" class="object">a mouth-guard</a>.
   </p>
   
   <p>To your left are a set of
   {% if state.sliding_door.open == true %}
      open <a href="{{ url_for('object', object_slug='sliding_door', state=encoded_state) }}"
   hx-get="{{ url_for('object', object_slug='sliding_door', state=encoded_state) }}"
   hx-target="#inspect" class="object">sliding doors</a>, thru which you can see <a href="/room/living-room" class="place">the living room</a>.
   {% endif %}
   {% if state.sliding_door.open == false %}
      closed <a href="/objects/sliding-doors" class="object">sliding doors</a>.
   {% endif %}
   </p>
   
   <p>
   To your right is a small doorway to the <a href="/room/kitchen" class="place">kitchen</a>.
   </p>
</div>
<div id="action">
</div>
<div id="inspect">
</div>




{% endblock %}
