<h2 class="object-name">{{ roomObject.name }}</h2>

{% set statefulDescriptions = roomObject.getStatefulDescription() %}
{% for description in statefulDescriptions %}
<p class="object-description">{{ description|safe }}</p>
{% endfor %}

{# <ul class="object-actions">
   {% for action in roomObject.actions %}
      {% if action.checkRequirements() %}
         <li>
            <a href='object/{{ roomObject.slug }}/action/{{ action.slug }}'
               hx-get='object/{{ roomObject.slug }}/action/{{ action.slug }}'
               hx-target='#inspect'>
               {{ action.name }}
            </a>
         </li>
      {% endif %}
   {% endfor %}
</ul> #}
<p class="alert">Your bed is neatly made. The corners are all tucked tight.</p>

<a href="" class="action">Look Under Bed</a>
