<h2>{{ roomObject.name }}</h2>

<p class="description">{{ roomObject.getStatefulDescription() }}</p>
<ul class="object-actions">
   {% for action in roomObject.actions %}
      {% if action.checkRequirements() %}
         <li>
            <a href='object/{{ roomObject.slug }}/action/{{ action.slug }}'
               hx-get='object/{{ roomObject.slug }}/action/{{ action.slug }}'
               hx-target='#inspect'>
               {{ action.name }}
            </a>
         </li>
      {% endif %}
   {% endfor %}
</ul>
